body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	}


.col-6{
    width: 50%;
}
.QuienesImg {
    width: 50%;    
    margin-left: 100px;

}
.item img {
    height:150px;
}


.modal-header {
    padding: 2px 16px;
    background-color: rgb(128,128,128);
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: rgb(128,128,128);
    color: white;
}
.titles{
    text-transform: uppercase;
    text-align: center;
}
.intro-text {
    font-size: 18px;
    font-family: monospace;
    font-weight: bolder;
}


hr {
    max-width: 400px;
    border-color: #ff0000;
    border: 1px solid;
}

.brand,
.direccion-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}


footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
    margin-top: 20px;
}


footer p {
    margin: 0;
    padding: 50px 0;
    color: white;
}
footer p a{
    margin: 0;
    font-size: 14px;    
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: rgb(158, 238, 67);
   
}

@media screen and (min-width:768px) {


    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar, .footer {
        min-height: 0;
        background-color: #343a40;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background-color: #343a40;
    }
    .navbar-default .navbar-nav>li>a{
        color: white;
        font-weight:bold;
    }
    .navbar-default .navbar-nav>li>a:hover{
        color: #e99b9b;
    }

    .nav>li>a {
        padding: 35px;
        color: white;
    }

     .nav>li>a:hover {
        background-color: #e54958;
    }
    
    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: flex;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 12px;
    }
    .card-group{
         box-sizing: border-box;
         background-color:#DEF3EB ;
         width: auto;
         margin-bottom: 15px;
         margin-right:15px;
    }
    .card-group:hover{       
        background-color: #33FFB2;
        width: auto;
        transition: all 1s ease;
        cursor:  pointer;
    }	
}
@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }	
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.modal-content
	{
		width: 100%;
		
	}
	
}


